<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>INFO</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="flex-header">
    HEADER
</div>
<main class="flex-main">
    <div class="flex-article">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ea harum inventore officia, omnis pariatur
        perspiciatis tempore! At est facilis ipsam modi obcaecati quas, sequi unde voluptatibus. Enim, necessitatibus,
        neque.
    </div>
    <div class="flex-aside">
        <p>SIDEBAR
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="contacts.html">Contacts</a></li>
        </ul>
    </div>
</main>
<div class="flex-footer">
    FOOTER
</div>
</body>
</html>