<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CONTACTS</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="flex-header">
    HEADER
</div>
<main class="flex-main">
    <div class="flex-article">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, assumenda atque culpa cupiditate
        doloremque dolorum earum, fugit illo illum laborum laudantium necessitatibus, optio pariatur provident suscipit
        temporibus veniam voluptate voluptates.
    </div>
    <div class="flex-aside">
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="info.html">Info</a></li>
            <li><a href="calc.html">Calculator</a></li>
        </ul>

    </div>
</main>
<div class="flex-footer">
    FOOTER
</div>
</body>
</html>