<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>INDEX</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="flex-header">
    HEADER
</div>
<main class="flex-main">
    <div class="flex-article">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque deserunt doloremque enim eos hic,
        incidunt maxime nobis odio vel! A asperiores excepturi maiores neque nulla pariatur repudiandae voluptates! Vel?
    </div>
    <div class="flex-aside">
        <ul>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="info.html">Info</a></li>
            <li><a href="calc.html">Calculator</a></li>
        </ul>

    </div>
</main>
<div class="flex-footer">
    FOOTER
</div>
</body>
</html>